h1, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: context-menu;
    user-select: none;
}

.main{
    /* height: 100%; */
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.intro{
    background-color: black;
    width: 290px;
    margin: auto;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
    opacity: 0.8;
    padding: 0 30px;
}

section{
    text-align: center;
    padding: 30px 50px;
    min-height: 25vh;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border{
    background-color: #111;
    color: white;
    padding: 20px;
}

@media(max-width: 900px){
    .ct{
        flex-direction: column;
        height: 1450px;
    }
    .main{
        height: 1800px;
        background-image: url('https://images.pexels.com/photos/1624438/pexels-photo-1624438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
}

.func{
    position: absolute;
    z-index: 1;
    right: 5px;
}


